@mixin underline()
{
    margin-left:auto;
    margin-right:auto;
    height:3px; 
    width:50px;
    background-color: #02c6d8;
}
@mixin GetIt()
{
    background-color: #e46e48;
    border:1px solid #e46e48;
    font-family: 'Courgette', cursive;
    color:#fff;
    padding:10px 20px 10px 20px;
    cursor:pointer;
    transition:.25s;
}